body {
  background-color: #f9f7fe;
}
.weather-app {
  background-color: white;
  max-width: 600px;
  margin: 45px auto;
  padding: 30px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0, 08);
  border-radius: 16px;
  font-family: "Roboto", sans-serif;
}
header {
  border-bottom: 1px solid #8a5def;
  padding: 0 0 30px 0;
}
.search-form-input {
  background-color: #f9f7fe;
  border: none;
  border-radius: 6px;
  width: 80%;
  padding: 15px 20px;
  font-size: 16px;
}
.search-form-button {
  background-color: #8a5def;
  border: none;
  border-radius: 6px;
  padding: 15px 20px;
  font-size: 16px;
  margin-left: 5px;
  color: white;
}
footer {
  border-top: 1px solid #8a5def;
  padding: 30px 0 0 0;
  text-align: center;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.6);
}
.weather-app-data {
  display: flex;
  justify-content: space-between;
}
main {
  padding: 30px;
}
.weather-app-city {
  margin: 0;
  font-size: 38px;
  line-height: 48px;
}
.weather-app-details {
  font-size: 16px;
  color: rgba(39, 33, 66, 0.4);
  line-height: 20px;
}
.weather-app-details strong {
  color: #f65282;
}
.weather-app-temperature-container {
  display: flex;
}
.app-temperature {
  font-size: 80px;
  font-weight: bold;
}
.app-icon {
  font-size: 30px;
  margin-top: 28px;
}
.app-unit {
  margin-top: 16px;
}
